<style>
    :root {
            --primary-bg: #121212; /* Very dark background for the whole page */
            --secondary-bg: #1e1e1e; /* Slightly lighter background for sections */
            
            --primary-color: #2252ff; /* Vivid orange (hot color) */
            --secondary-color: #00c8ff; /* Bright orange for highlights */
            --accent-color: #ff4081; /* Hot pink for accents */
            --text-color: #ffffff; /* White text for high contrast */
            --subtext-color: #b0b0b0; /* Light gray for secondary text */
            
            --border-color: #333333; /* Dark gray for borders and lines */
            --link-color: #00c8ff; /* Lighter orange for links */
            --hover-color: #150f3b; /* Hot orange on hover */
            
            --button-bg: #0e1231; /* Hot orange button background */
            --button-text: #ffffff; /* White text on buttons */
            --button-hover-bg: #040517; /* Slightly darker orange on hover */
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            color: var(--text-color);
        }

        body{
            overflow-x: hidden;
        }

        input.submit{
            cursor: pointer
        }

        main{
            position: relative;
            background: var(--secondary-bg);
            padding: 3rem 4rem;
            min-height: 90vh;
        }
</style>